/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
}

/* Mapa */
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* El mapa ocupará toda la pantalla */
    z-index: 0; /* Mapa en el fondo */
}

/* Barra Lateral */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    padding: 20px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
}

#sidebar-content {
    display: flex;
    flex-direction: column;
}

#sidebar-content a {
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #34495e;
    transition: background-color 0.3s;
}

#sidebar-content a:hover {
    background-color: #1abc9c;
}

/* Sección de Comentarios */
#comments-section {
    position: fixed;
    top: 0;
    left: 270px; /* Desplazado a la derecha de la barra lateral */
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1001;
    display: flex;
    flex-direction: column;
}

/* Listado de Comentarios */
#comments-list {
    flex-grow: 1; /* Ocupa el espacio disponible */
    overflow-y: auto;
}

.comment {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.comment-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.comment-body {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
}

/* Área para redactar un nuevo comentario */
#new-comment {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#new-comment textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    font-size: 1rem;
    resize: none;
}

#post-comment {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#post-comment:hover {
    background-color: #218838;
}
